@import "tailwindcss";

:root{
  --cream:#F8F4EF;
  --rose:#E8CFCB;
  --mauve:#B68EA9;
  --ink:#2B2B35;
}

body{
  margin:0;
  background:var(--cream);
  color:var(--ink);
  font-family: Inter, sans-serif;
}

h1,h2,h3,h4{
  font-family: Georgia, serif;
}